@charset "UTF-8";
/* CSS Document */

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 1em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

header h1 {
	padding-bottom: 5px;
	border-bottom: 3px solid #77a466;
	margin-bottom: 0;
	text-align: center;
}

header h1 span {
	color: #77a466;
}

header nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	padding: 0;
	margin: 5 0;
}
header nav ul li {
	display: flex;
	justify-content: center;
	align-items:center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 0px;
}
header nav ul li a {
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
}

.section-two h3,
.section-three h3 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	padding: 0;
}

.address {
	font-size: 1em;
	line-height: 24px;
	padding: 0;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 3px solid #eee;
	margin: 10px auto;
	text-align: center;
	width: 100%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/* -------------------- TABLETS ------------------- */


@media only screen and (min-width: 768px) {
	.bottom-section {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		border-top: 1px solid #eee;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 30%;
		border-top: none;
	}

	.section-two {
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
		padding: 0 20px;
	}

/* -------------------- DESKTOP ------------------- */

@media only screen and (min-width: 1200px) {
	header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: row nowrap;
	}

	header h1 {
		padding-bottom: 0px;
		border-bottom: none;
		text-align: center;
	}

	header nav ul {
		display: flex;
		flex-flow: row nowrap;
		padding: 0;
		margin: 0;
	}

	header nav ul li {
		display: flex;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1em;
		padding-top: 35px;
		padding-right: 15px;
	}


	.main-image img {
		width: 100%;
		border-bottom: 3px solid #77a466;
		margin-top: 20px;
	}
}